<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 #{isLogged.username}'s EDITPAGE
        h3 MAINMENU OPTIONS
        form(action=`/${isLogged._id}/editPage`, method="post")#editPage__form
            input(type="text",name="options")#editPage__input
            button(type="submit")#editPage__submit SUBMIT
        ul#editPage__ul
        button#editPage__mainMenuSave 저장하기
        script(src="/static/js/editPage.js")