<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 #{isLogged.username}'s EDITPAGE
        h3 MAINMENU OPTIONS
        form(action="/editPage", method="post")
            input(type="text",name="options")
            button(type="submit")
