<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        if(isLogged)
            .header
                a(href='/logout') LOGOUT
            .main
                a(href=`/${isLogged._id}/editPage`) EDITPAGE
        else
            .header
                a(href="/login") LOG IN
                a(href="/join") JOIN
        script(src="/static/js/printranNum.js")
            
            
